* {
    font-size: medium;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--orange);
}

.container_clan {
    margin-top: -20px;
    max-width: 80rem;
    background-color: var(--black);
    color: var(--red);
    border-radius: 10px;
    width: 90vw;
    height: 90vh;
    padding: 30px;
}

#voltar {
    background-color: var(--orange);
    color: var(--black);
    border: none;
    border-radius: 10px;
    font-size: medium;
    padding: 5px;
    margin-bottom: 10px;
}

.container_clan h1 {
    margin-bottom: 30px;
    font-size: 30px;
    color: var(--white);
    text-align: center;
    margin-top: 20px;
}

.elementos {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
}

.inputs {
    box-shadow: var(--red) 0 0 1rem;
    margin-top: 30px;
    width: 100%;
    border: none;
    border-radius: 5rem;
    padding: 1rem 2rem;
    font-size: medium;
    outline: none;    
    background-color: transparent;
    color: var(--red);
}

#foto_cla {
    display: none;
}

.img_label {
    width: 110px;
    height: 150px;
    margin-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.foto img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.escolhe_foto {
    box-shadow: var(--red) 0 0 1rem;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    border: none;
    border-radius: 5rem;
    font-size: medium;
    outline: none;    
    background-color: transparent;
    color: var(--red);
    text-align: center;
    padding: 20px;
}

.foto {
    margin-top: 25px;
    display: flex;
}

#button_foto {
    margin-left: 30px;
}

input:hover, form button:hover {
    box-shadow: var(--white) 0 0 1rem;
}

form button {
    box-shadow: var(--red) 0 0 1rem;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: medium;
    padding: 1rem;
    border: none;
    border-radius: 5rem;
    background-color: transparent;
    color: var(--red);
    cursor: pointer;
    width: 100%;
}

form a {
    text-decoration: none;
    color: var(--red);
}

form a:hover {
    color: var(--white);
}

.acao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#alert{
    display: flex;
    margin: 0 auto;
    position: absolute;
    bottom: 2rem;
    background-color: rgb(255, 30, 30);
    padding: 1rem;
    border-radius: 1rem;
    font-size: medium;
    color: var(--white);
    opacity: 1;
    animation: fadeOut1 linear forwards 0.3s;
    animation-delay: 2s;
}

@keyframes fadeOut1 {
    from { opacity: 1; }
    to { opacity: 0; }
}