body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 80vw;
    max-width: 35rem;
    height: 70vh;
    max-height: 45rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #FFF;
    box-shadow: var(--white) 0 0 1rem;
    overflow: hidden;
}

.containerCreep {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 80vw;
    max-width: 35rem;
    height: 70vh;
    max-height: 45rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #FFF;
    box-shadow: var(--white) 0 0 1rem;
    overflow: hidden;
}

#nomeDoCorvo {
    color: var(--red);
}

#nomeDaAbobora {
    color: var(--red);
}

#username {
    color: var(--red);
}

#usernameCreep {
    color: var(--red);
}

#aviso {
    color: var(--black);
}

#avisoCreep {
    color: var(--black);
}

img{
    height: 100%;
    width: 100%;
}

.img_teste{
    animation: corvo_aparecendo 1s forwards 1;
}


@keyframes corvo_aparecendo {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#drawing_canvas{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
}
