body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    font-size: 20px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 3rem;
    left: 0;
    transition: all 0.5s ease-in-out;
}

form button {
    font-size: medium;
    padding: 1rem;
    border: none;
    border-radius: 5rem;
    color: var(--white);
    background-color: var(--blue);
    cursor: pointer;
}

.nome_do_clan {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    border: none;
    border-radius: 5rem;
    padding: 1rem 1rem;
    font-size: medium;
    outline: none;   
}

h1 {
    color: var(--white);
}

a {
    text-decoration: none;
}

#input-file {
    display: none;
}

.box {
    display: flex;
    width: 100px;
    height: 100px;
    position: relative;
}

.btn_input {
    width: 50%;
    height: 40px;
    font-size: medium;
    border: none;
    background-color: transparent;
    padding: 1rem;
    color: var(--white);
    cursor: pointer;
    background-color: var(--blue);
    position: absolute;
    right: 0;
    top: 60%;
    border-radius: 15px;
    text-align: center;
}

.avatar::after {
    opacity: 0;
    font-family: FontAwesome;
    content: "\f040";
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4px;
    left: 4px;
    width: 92px;
    height: 92px;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: 350ms ease-in-out;
}
.avatar:hover::after {
    opacity: 1;
}

.avatar {
    box-sizing: border-box;
    border: 4px solid silver;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.box input {
    display: none;
}
.box input:checked + div.menu {
    opacity: 1;
    z-index: 999;
}


@media screen and (max-width: 356px) {
    .btn_input {
        top: 65%;
    }
}